@import "bootstrap-sprockets";
@import "bootstrap";

/* form */
.btn-outline-red{
    color: #CF4332;
    border-color: #CF4332;
}
.row{
    margin: 0px;
}
.col{
    padding: 0px;
}
main{
    background-color: rgb(248, 249, 250);
}
.btn-outline-red:hover{
    color: white !important;
    background-color: red !important;
}
.btn {
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: bold;
}
.btn-social-icon {
    position: absolute;
    left: 4rem;
    width: 2rem;
}
.btn-secondary{
    color: #fff;
    background-color: #3d348b;
    border-color: #3d348b;
}

.px-3 {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
}

.container-fluid {
    width: 100% !important;
    background-color: rgb(248, 249, 250);
};

/* header */
header .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.4rem;
}
header .fixed-top{
    z-index: 1030;
}
header .navbar>.container-fluid{
    display: flex;
    width: 100%;
}
header .mr-3{
    width: 90%;
    margin-right: 1rem !important;
}
header .ml-auto{
    display: flex !important;
    flex-direction: row;
    float: right;
}
header .navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,0.5);
}
header .navbar .nav-link {
    font-size: .9rem;
    font-weight: bold;
    text-decoration: none !important;
}
header .nav-item{
    list-style-type: none;
}
header .nav-link {
    display: block;
    padding: 0.5rem 1rem;
}
header .nav-link:hover{
    color: black !important;
}


// show
label {
    padding-bottom: 15px;
    padding-top: 15px;
}

input {
    margin: 15px
}
